global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 50000

defaults
  log               global
  retries           3
  maxconn           10000
  timeout connect   5s
  timeout client    50s
  timeout server    50s

frontend ws_frontend
  bind *:9001
  mode http
  default_backend ws_balance

backend ws_balance
  mode http
  balance roundrobin
  
  option forwardfor if-none
  stick on hdr(X-Forwarded-For,-1)
  stick on src
  stick-table type string len 64 size 10240k expire 2m  
  
  server s8001 127.0.0.1:8001 maxconn 10000 cookie s8001 check
  server s8002 127.0.0.1:8002 maxconn 10000 cookie s8002 check
  server s8003 127.0.0.1:8003 maxconn 10000 cookie s8003 check
  server s8004 127.0.0.1:8004 maxconn 10000 cookie s8004 check
  #server s8002 127.0.0.1:8002
  #...
